.logo{
    width: 10vw;
    height: 3vw;
    margin-left: 2vw;
}
nav {
    /* margin:100px auto; */
    text-align:center;
    margin-bottom: 4vw;
}
nav ul {
    width: 20%;
    list-style-type: none;
    /* padding:0 10px; */
    display:inline-table;
    position:relative;  
    /* background: #999; */
    float: right;
    margin-right: 60px;
    /* background: #000; */
    /* margin-top: -2.8vw; */
}
nav ul ul {
    display:none;
}
nav ul li {
    float: right; 
    margin-top: 0.2vw;
}
nav ul::after {
    content:"";
    display:block;
    clear:both;
}
nav ul li a {
    display:block;
    padding:0.5vw 0.5vw;
    color:#002FA7;
    
    font-weight: bold;
    text-decoration:none;
    font-family:"微软雅黑";
}

/* #target_1:target, #target_2:target, #target_3:target, #target_4:target {
  display: block;
  float: right;     
} */

nav ul ul {
border-radius:0;
/* position:absolute; */
/* right: 5px; */
/* top:100%; */
/* bottom: 50%; */
bottom: 2.6vw;
padding:0;
}

.nav_ul_ul_li1{
    
display:block;
float: left;
border:1px solid #C4C5C9;
background: #FFFFFF;
}
nav ul ul li {
    border-radius: 5px;
}
.nav_ul_ul_li1:before,
.nav_ul_ul_li1:after {
    content: "";
    display: block;
    border-width: 9px;
    position: absolute;
    bottom: -17px;
    left: 3vw;
    border-style: solid dashed dashed;
    border-color: #C4C5C9 transparent transparent;
    font-size: 0;
    line-height: 0;
}
.nav_ul_ul_li1:after {
    bottom: -15px;
    border-color: #FFF transparent transparent;
}

.nav_ul_ul_li2{
    
    display:block;
    float: left;
    border:1px solid #C4C5C9;
    background: #FFFFFF;
    }

.nav_ul_ul_li2:before,
.nav_ul_ul_li2:after {
    content: "";
    display: block;
    border-width: 9px;
    position: absolute;
    bottom: -17px;
    left: 5.3vw;
    border-style: solid dashed dashed;
    border-color: #C4C5C9 transparent transparent;
    font-size: 0;
    line-height: 0;
}
.nav_ul_ul_li2:after {
    bottom: -15px;
    border-color: #FFF transparent transparent;
}

.nav_ul_ul_li3{
    
    display:block;
    float: left;
    border:1px solid #C4C5C9;
    background: #FFFFFF;
    }

.nav_ul_ul_li3:before,
.nav_ul_ul_li3:after {
    content: "";
    display: block;
    border-width: 9px;
    position: absolute;
    bottom: -17px;
    left: 4vw;
    border-style: solid dashed dashed;
    border-color: #C4C5C9 transparent transparent;
    font-size: 0;
    line-height: 0;
}
.nav_ul_ul_li3:after {
    bottom: -15px;
    border-color: #FFF transparent transparent;
}



.li1{
    position:absolute;
    left: 14vw;
}
.li2{
    position:absolute;
    left: 8.5vw;
}
.li3{
    width: 10vw;
    position:absolute;
    left: 6.5vw;
}
.scan_scan{
    width: 7vw;
    height: 7vw;
}
nav ul ul li a{
    color: #002FA7;
    font-size: 1vw;
font-weight: bold;
    
    }

.jianto{
    position: relative;
    top: 0.5vw;
    left: 2vw;
    width: 0;
    height: 0;
    border-right: 0.5vw solid transparent;
    border-left: 0.5vw solid transparent;
    border-top: 0.5vw solid #C4C5C9;
}

.ul1 li{
	list-style:none;
	width: 12vw;
    height: 50px;
	line-height:45px;
	text-align:center;
	/* border:1px #000 solid; */
	float:left;
}
/* .uli li:hover{
	font-size: 50px;
} */
.ul1 a{
	color:#000;
	text-decoration:none;
    font-size: 1vw;
}
.ul1 ul{
	display:none;
    padding-right: 20px;
}
.ul1 ul li{
	list-style:none;
	/* width:170px; */
	height: 50px;
	list-style: none;	
	text-align:center;
	/* border:1px #000 solid; */
	background: #F6F8FB;
	margin-top: -12px;
	color: #2D2E2E;
}
.ul1 ul li a:hover>span{
            /*关键代码*/
	padding-bottom: 5px;
	border-bottom:  2px solid #002FA7;
}
.ul1 li a:hover>span {
            /*关键代码*/
	padding-bottom: 5px;
	border-bottom:  2px solid #002FA7;
}

.ul1 li a span:hover + .ul1 ul li a span{
    padding-bottom: 5px;
    border-bottom:  2px solid #002FA7;
}
.ul1 ul{
    width:1200px;
}
.ul1 ul li{
	float:left;
}
.clearfix:before,.clearfix:after{
	display:table;
}
.clearfix:after{
    clear:both;/*在所有元素的父元素上加伪类*/
    
}
.clearfix{
	*zoom:1;
}